.card{
    width:380px ;
    height: 460px;
    background: linear-gradient(114.99deg, #471CA9 -0.99%, #5736A3 54.28%, #4B2A99 78.99%);
    box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    transition: transform 500ms ease;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 32px -3px rgba(71, 28, 169, 1);
}
.bgi_wrapp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 214px;
    background-position: center;
    background-image: url(/src/assets/bgi.png);
    background-repeat: no-repeat;
}
.logo_wrapp{
    background-image: url(/src/assets/logo.png);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
    height: 22px;
    width: 76px;
    margin: 20px 0 0 20px;
}
.border_bottom{
    position: relative;
    
    height: 8px;
    background-color: #EBD8FF;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06), inset 0px -1.71846px 3.43693px #AE7BE3, inset 0px 3.43693px 2.5777px #FBF8FF;
}
.user_wrapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 44px;
    

}
.btn {
    width: 196px;
    height: 50px;
    box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
    border-radius: 10.3108px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #373737;
    background-color: #EBD8FF;
    padding: 0;
    margin-bottom: 30px;
    transition: transform 500ms ease ;
}
.btn:hover{
background-color: #5CD3A8;
transform: scale(1.05);
}